[submodule "android-ColorPickerPreference"]
	path = libs/ColorPickerPreference
	url = https://github.com/attenzione/android-ColorPickerPreference
[submodule "libs/ColorPickerPreference"]
	path = libs/ColorPickerPreference
	url = https://github.com/attenzione/android-ColorPickerPreference
