[submodule "contrib/HoloEverywhere"]
	path = contrib/HoloEverywhere
	url = git://github.com/ChristopheVersieux/HoloEverywhere.git
[submodule "contrib/ColorPickerPreference"]
	path = contrib/ColorPickerPreference
	url = git@github.com:gsingh93/android-ColorPickerPreference.git
